body {
  	font-size: 14px;
  	padding: 0;
  	margin: 0;
  	font-family: 'comic sans';
  	background-color: #F5F5F5;
}
.nav_bar {
  z-index: 999;
  height: 55px;
  width: 100%;
  position: fixed;
  background-color: #505050;
}
.navbar_logo {
  width: 120px;
  height: 31px;
  float: left;
  font-size: 20px;
  color: #fff;
  padding-top: 12px;
  padding-left: 142px;
}
.navbar_icon {
  width: 360px;
  height: 31px;
  float: right;
  padding-top: 15px;
  padding-right: 142px;
  color: white;
  font-size: 16px;
  text-align: right;
}
.content {
  margin-left: 142px;
  margin-right: 142px;
  height: 100%;
  padding-top: 80px;
}
.content .content_name {
  padding-bottom: 8px;
}
.layout {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
}
 .contentRe {
  background-color: #fff;
  min-height: 400px;
  /*border: 1px solid #ccc;*/
  width: 70%;
  box-shadow: 0 3px 5px #e8e9e9 inset, 1px 3px 3px rgba(150,152,153,0.3);
  background:
        linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.4) 0) 100% 0 no-repeat,
        linear-gradient(-135deg, transparent 1.5em, #fff 0);
  background-size: 2em 2em, auto;
} 
.conreq-hd {
  position: relative;
  zoom: 1;
  height:  42px;
}
.conreq-ti {
  position: absolute;
  left: -1px;
  height: 46px;
  line-height: 46px;
  text-align: center;
}
.conreq-ti h3 {
  width: 200%;
  text-align: center;
  height: auto;
  line-height: 46px;
  background: #555b65;
  color: #fff;
  font-size: 16px;
  font-family: "Microsoft YaHei";
}
.reqContent {
  margin: 0 auto;
  padding-top: 18px;
}
.paramsLabel {
  text-align: right;
  font-weight: bolder;
  font-size: 12px;
  color: #666666;
  margin-top: 10px;
}
.paramsInput {
  border-radius: 0 !important;
  border: none !important;
  border-bottom: 1px solid #DADADA !important;
  /*box-shadow: 0px 2px 4px #888888 !important;*/
  text-align: center;
}
/*.paramsInput:focus {
  border: none !important;
  border-bottom: 1px solid rgba(80, 80, 80, 1) !important;
  /*box-shadow: 0px 2px 4px #888888 !important;*/
  /*text-align: center;
}*/
.paramsInputShort{
  border-radius: 0 !important;
  border: none !important;
  border-bottom: 1px solid #DADADA !important;
  text-align: center;
}
.paramsInputShort::-webkit-input-placeholder, .paramsInputShort::-ms-input-placeholder, .paramsInputShort::-moz-placeholder{
  font-style: oblique;
}
.paramsSelect {
  border: none !important;
  border-bottom: 1px solid rgba(80, 80, 80, 1) !important;
  box-shadow: 0px 2px 4px #888888 !important;
  text-align: center;
  bottom: -1px;
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 20px;
  color: #999;
  transition: all .3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
.dynamic-plus-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 20px;
  color: #999;
  transition: all .3s;
  left: 5px;
}
.dynamic-plus-button:hover {
    color: #777;
}