@import '../variables.scss';

.summary,
.showChart {
  margin-top: 15px;
  background-color: #fff;
}

/* summary budget popover style */

.budgetPopover {
  padding: 10px;
  font-size: 12px;
  border: 1px solid $border-grey;
}

.hint,
.buttonLine {
  position: relative;
  padding-left: 1em;
  line-height: 1.8em;
}

.hint:before {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: .8em;
  width: 4px;
  height: 4px;
  background-color: $icon-blue;
}

/*******************************/

.summaryDetail,
.chartMain {
  padding: 30px $keyline1;
  background-color: #fff;
}

.chartMain {
  padding-top: 0;
}

.chartMenu {
  display: block;
  margin-bottom: 20px;
}

.summaryDetail:after,
.chartSummary:after {
  content: '';
  display: block;
  clear: both;
}
