.conreq_hd {
  position: relative;
  zoom: 1;
  height:  42px;
  pointer-events: none;
}

.conreq_ti {
  position: absolute;
  left: -1px;
  height: 46px;
  line-height: 46px;
  text-align: center;
}

.conreq_ti_h {
  width: 200%;
  text-align: center;
  height: auto;
  line-height: 46px;
  background: #555b65;
  color: #fff;
  font-size: 16px;
  font-family: "Microsoft YaHei";
}

.reqContent {
  margin: 0 auto;
  padding-top: 18px;
}

.paramsInput {
  border-radius: 0 !important;
  border: none !important;
  border-bottom: 1px solid #DADADA !important;
  text-align: center;
  background-color: transparent;
  font-style: italic;
}

.paramsInput:focus {
  box-shadow: 0 0 0 0 !important;
}

.paramsInputShort{
  border-radius: 0 !important;
  border: none !important;
  border-bottom: 1px solid #DADADA !important;
  text-align: center;
  background-color: transparent;
}
.paramsInputShort:focus{
  box-shadow: 0 0 0 0 !important;
}

.paramsInputShort::-webkit-input-placeholder, .paramsInputShort::-ms-input-placeholder, .paramsInputShort::-moz-placeholder{
  font-style: oblique;
}

.dynamic_delete_button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 20px;
  color: #999;
  transition: all .3s;
}

.dynamic_delete_button:hover {
  color: #777;
}

.dynamic_delete_button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.dynamic_plus_button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 20px;
  color: #999;
  transition: all .3s;
  left: 5px;
}

.dynamic_plus_button:hover {
    color: #777;
}

.paramsLabel {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
  color: #666666;
  margin-top: 10px;
  font-famliy: tahoma;
  overflow: hidden;
}

.paramsSelect {
  border: none !important;
  /*border-bottom: 1px solid rgba(80, 80, 80, 1) !important;*/
  /*box-shadow: 0px 2px 4px #888888 !important;*/
  text-align: center;
  bottom: -1px;
  /*background-color: #EEEEEE;*/
}

.divLine {
  overflow: hidden;
  zoom: 1;
}

.divLineb {
  background: #ddd;
  margin-top: 8px;
  margin-bottom: 8px;
  float: left;
  width: 100%;
  height: 1px;
  overflow: hidden;
}

.constraintLabel {
  text-align: right;
  font-weight: 600;
  color: #666666;
  margin-top: 10px;
  /*font-family: serif;*/
  font-size: 16px;
}

.constraintTipsT {
  font-size: 8px;
  text-align: right;
  font-weight: 700;
  margin-top: 8px;
  margin-left: 1%;
  margin-bottom: 10px;
}

.constraintTips {
  font-size: 8px;
  margin-top: 16px;
  margin-bottom: 13px;
}

.group {
  width: 100%;
  border: 1px solid #ddd;
  background-color: #fff;
  /*min-height: 80px;*/
}

.groupIf {
  width: 100%;
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #ddd;
}

.g {
  font-size: 14px;
  float: left;
  /*font-weight: bolder;*/
  color: #000/*;*/
}

.gDel {
  float: right;
}

.gDel Button {
  font-size: 14px;
  color: #3B87CC;
  background: none !important;
  border: none !important;
}

.groupIfT {
  text-align: right;
  font-size: 13px;
  font-weight: 800;
  font-family: "微软雅黑";
}

.groupIfInput {
  height: 100%;
  font-size: 13px;
  width: 100%;
  text-align: center;
  border: none !important;
}

.groupIfInput:focus {
  box-shadow: none;
  outline: none;
}

.groupIfInput:focus {
  height: 100%;
  font-size: 13px;
  width: 100%;
  text-align: center;
  border: none !important;
}

.groupExpT {
  text-align: right;
  font-size: 13px;
  font-weight: 800;
  font-family: "微软雅黑";
  height: 64px;
  line-height: 64px;
  background-color: #fff;
}

.groupExp {
  height: 100%;
  font-size: 13px;
  width: 100%;
  text-align: center;
  border: none !important;
}

.groupExp:focus {
  box-shadow: none;
  outline: none;
}

.noteTips {
  color: grey !important;
  font-size: 13px !important;
  margin-top: 10px;
}

.noteTips_2 {
  color: grey !important;
  font-size: 13px !important;
  padding-top: 10px;
}

.arrLabel {
  font-size: 12px !important;
  margin-top: 10px;
}

.reSave {
  text-align: center;
  margin-top: 36px;
  padding-bottom: 46px;
}

.reSave Button{
  margin: 0 10px 36px 10px;
  width: 12%;
}

.resStyle {
  position: relative;
}

.addRes {
    float: right;
    margin-right: 12%;
    margin-top: 1%;
    border: 1px dotted #000;
    width: 10%;
    letter-spacing: 3px;
    text-align: center;
    background-color: #fff;
}

.cutoff {
  height: 1px;
  width: 90%;
  background-color: rgb(119, 119, 119);
  margin: 0 auto 46px auto;
  background-color: #C1D5EB;
  border-bottom: 1px dashed;
}

.resDel {
  text-align: center;
  margin-bottom: 18px;
}

.resDel Button {
  font-size: 14px;
  color: #FFF;
}

.constraintD {
  padding-bottom: 24px;
}

.redtag {
  color: red;
}