/*
 * Colors
 * ========================================================================== */

/**
 * 主黑色，app bar 背景色，字体黑色
 */
$main-black:                 #313337;

/**
 * header 字体颜色
 */
$header-tab-color:           #858688;

/**
 * header 字体大小
 */
$header-tab-font-size:       16px;

/**
 * app bar 选中tab 的文字颜色
 */
$header-active-tab-color:    #f86b36;

/**
 * 按钮的橙色背景色
 */
$btn-orange:                 #f88256;

/**
 * body的背景色
 */
$body-grey:                  #f2f4f8;

/**
 * 所有边框的颜色
 */
$border-grey:                #b4bed2;

$txt-black:                  #414347;

$icon-blue:                  #84a8f0;


$keyline1:                   24px;
$keyline2:                   80px;

/**
 * index page 的灰黑色字体颜色
 */
$index-page-color:           #919191;


/*
 * Typography
 * ========================================================================== */

$font-family-base:           'Microsoft YaHei', "宋体", Arial, sans-serif;

/*
 * Layout
 * ========================================================================== */

$content-width:              980px;

/*
 * Media queries breakpoints
 * ========================================================================== */

$screen-xs-min:              480px;  /* Extra small screen / phone */
$screen-sm-min:              768px;  /* Small screen / tablet */
$screen-md-min:              992px;  /* Medium screen / desktop */
$screen-lg-min:              1200px; /* Large screen / wide desktop */

/*
 * Animations
 * ========================================================================== */

$animation-swift-out:        .45s cubic-bezier(0.3, 1, 0.4, 1) 0s;
