/*父组件中的样式*/
.searchRules {
	margin-left: 142px;
    margin-right: 142px;
    height: 100%;
    padding-top: 80px;
}

/*查询条件组件的样式*/
.searchif {
	width: 100%;
	height: 80px;
}
.projname {
	float: left;
	/*width: 380px;*/
	width: 35%;
}
.rulename {
	float: left;
	/*width: 380px;*/
	width: 35%;
}
.searchBtn {
	float: left;
	margin-left: 30px;
}
/*@media screen and (max-width: 500px) {
    .projname {
		float: left;
		width: 40%;
	}
	.rulename {
		float: left;
		width: 40%;
	}
	.searchBtn {
		float: left;
		margin-left: 30px;
	}
}*/


/*查询结果组件的样式*/

/*详细规则展示*/
.showdetailrules {
	margin-left: 142px;
    margin-right: 142px;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 120px;
}
.table {
	border: 1px solid #D5D5D5;
	width: 100%;
}
.tr {
	box-sizing: border-box;
}
.tr td{
	padding: 16px 8px;
	border-right: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
    word-break: break-all;
}
.tdd1{
	font-weight: bolder !important;
	font-size: 16px !important;
	color: #000;
	/*width: 260px;*/
	width: 18%;
	text-align: right;
}
.tdd2 {
	width: 82%;
	font-size: 14px;
	/*min-width: 500px;*/
	text-align: center;
}

/*创建项目组名*/
.showDetairulesTitle {
	font-size: 20px;
	color: #3F48CC;
	margin-top: 32px;
	margin-bottom: 2px;
	border: 1px solid #D5D5D5;
	padding: 10px;
	text-align: center;
	background-color: #B2B2BC;
	/*background: */
}

.createbtn {
	text-align: right;
}

.createbtn Button{
	width: 8em;
}
.inputname {
	margin-top: 36px;
	height: 86px;
}
.inputname Input {
	height: 3em;
}